*{
	padding: 0px;
	margin: 0px;
}

body, html{
	width:100%;
	height:100%;
	background-image: url(../images/witewall_3.png);		
}

#wrapper{
	width:100%;
	height:100%;
	background: #ff7400; /* Old browsers */
background: -moz-linear-gradient(top,  #ff7400 0%, #ff7400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7400), color-stop(100%,#ff7400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff7400 0%,#ff7400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

	/* background-color: rgba(187,73,0,0.83); */
}

#wrapper2{
	width:960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#header{
	width: 100%;
	height: auto;
}
